In [ ]:
#Social_Networks_Ads.csv

In [1]:
!ls

sample_data  Social_Network_Ads.csv

**Importing the libraries**

In [2]:
import numpy as np
import pandas as pd

**Importing the dataset**

In [3]:
df = pd.read_csv("Social_Network_Ads.csv")

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

**Splitting the dataset into the Training set and Test set**

In [5]:
X = df[["Age", "EstimatedSalary"]]
y = df["Purchased"]
X.shape, y.shape

((400, 2), (400,))

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=.25, random_state=42)
X_train.shape, X_test.shape

((300, 2), (100, 2))

**Feature Scaling**

In [7]:
# Age, EstimatedSalay have very diverese range of data
# So, I will feature scale them to lie between similar range
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train[["Age", "EstimatedSalary"]] = scaler.fit_transform(X_train[["Age", "EstimatedSalary"]])
X_test[["Age", "EstimatedSalary"]]  = scaler.transform(X_test[["Age", "EstimatedSalary"]])

In [9]:
X_train.head()

          Age  EstimatedSalary
247  1.892589         1.521894
110  0.125038         0.032132
16   0.910616        -1.311575
66  -1.347922        -1.486841
153 -0.169554        -0.581299

**Fitting K-NN to the Training set**

In [11]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

for nn in range(1,20,1):
  model = KNeighborsClassifier(n_neighbors= nn)
  model.fit(X_train, y_train)

  y_pred = model.predict(X_test)
  print("NN=",nn, "Accuracy is:", accuracy_score(y_test,y_pred))

NN= 1 Accuracy is: 0.86
NN= 2 Accuracy is: 0.85
NN= 3 Accuracy is: 0.92
NN= 4 Accuracy is: 0.9
NN= 5 Accuracy is: 0.93
NN= 6 Accuracy is: 0.92
NN= 7 Accuracy is: 0.93
NN= 8 Accuracy is: 0.93
NN= 9 Accuracy is: 0.94
NN= 10 Accuracy is: 0.93
NN= 11 Accuracy is: 0.93
NN= 12 Accuracy is: 0.93
NN= 13 Accuracy is: 0.93
NN= 14 Accuracy is: 0.93
NN= 15 Accuracy is: 0.93
NN= 16 Accuracy is: 0.94
NN= 17 Accuracy is: 0.94
NN= 18 Accuracy is: 0.94
NN= 19 Accuracy is: 0.94

In [12]:
# For the best model, I will use NN=9
model = KNeighborsClassifier(n_neighbors= 9)
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=9)

**Predicting the Test set results**

In [13]:
y_pred = model.predict(X_test)

**Making the Confusion Matrix**

In [14]:
# Using Crosstab method
pd.crosstab(y_pred, y_test,  rownames=['Predicted'], colnames=['Actual'], margins=True)

Actual      0   1  All
Predicted
0          58   1   59
1           5  36   41
All        63  37  100

In [18]:
# Using sklearn
from sklearn.metrics import confusion_matrix
confusion_matrix(y_pred, y_test)

array([[58,  1],
       [ 5, 36]])